# JetBrains IDEs
.idea

# Output Binaries
bin

# Vendor files
vendor

# Testing files
*.test
coverprofile.out

# Environment files
.env

/test/tls/

# Production files
*_prod*

# Development postgres data
postgres-data

# SRO config files
cmd/**/config.yaml
